body {
    background-color: #e9e6f6 
  }
  h1 {
    color: #2e2265;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
  }
  p {
    color: #2e2265;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 2cm;
  }
  
  img {
    width: 400px;
    height: auto
  }

  a{
    text-decoration: none;
    /* removes underline from links */
  }

  a:hover {
    background-color: gold;
  }

  h2 {
    color: #2e2265;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
h3 {
    color: #49396e
    }